page-group-posts {

}

.group-post{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
}

.post{
    border-left:5px solid rgba(0, 0, 255, 0.608);
    min-height:30px;
   padding:10% 5%;
    
}

ion-item.user{
    border-bottom:0.25px solid rgba(0, 0, 0, 0.6);
}