<!--
  Generated template for the GroupPostsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>GroupPosts<button *ngIf="previliges" ion-button round item-end (click)="deleteGroup(name)" style="float:right">
        <b>Delete</b>
      </button></ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-header>
          User_Name
        </ion-card-header>
        <ion-card-content>
          The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
            User_Name
          </ion-card-header>
          <ion-card-content>
            The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
          </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
              User_Name
            </ion-card-header>
            <ion-card-content>
              The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
            </ion-card-content>
          </ion-card>

          <div class="group-post">
            <ion-item class="user">
              <ion-avatar item-start>
                <img src="../assets/img/marty-avatar.png">
              </ion-avatar>
              <h4>User1</h4>
              <p>At 2:49PM Nov 1st</p>
          </ion-item>
          <div class="post">
            I have posted
          </div>
        </div>

</ion-content>
