<ion-header>
  <div>
    <p>{{ errorMessage }}</p>
  </div>
</ion-header>

<ion-content>

  <div class="startLogo">
    <p>Teamdiary</p>
  </div>

  <form (submit)="doLogin()">

    <ion-item class="login-input">
      <ion-label floating class="lable-input">Email</ion-label>
      <ion-input type="text" class="lable-input" [(ngModel)]="account.email" clearInput name="email"></ion-input>
    </ion-item>

    <ion-item class="login-input">
      <ion-label floating class="lable-input">Password</ion-label>
      <ion-input type="password" class="lable-input" [(ngModel)]="account.password" (keypress)="enableLogin()" clearInput name="Password"></ion-input>
    </ion-item>

    <div class="login-button">
      <button *ngIf="!account.password || !account.email" disabled="true" ion-button round block>
        <strong>Log In</strong>
      </button>
      <button *ngIf="account.password && account.email" type="submit" ion-button round block>
        <strong>Log In</strong>
      </button>
    </div>
  </form>

  <p class="forgotPassword">Forgot your login details?
    <strong (click)="goToForgotPassword()">
      <a>Get help signing in.</a>
    </strong>
  </p>

  <div class="fbBtn">
    <button ion-button icon-left color="primary" (click)="facebookLogin()">
      <ion-icon name="logo-facebook"></ion-icon> Login with Facebook</button>
  </div>
</ion-content>



<ion-footer>
  <p>Don't have an account?
    <strong (click)="goToSignupPage()">
      <a>Sign up.</a>
    </strong>
  </p>
</ion-footer>