<!--
  Generated template for the LikepopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Likes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <div *ngFor="let like of likesData; let i=index">
      <ion-item *ngIf="i<5">
        <p><b>{{like.user.name}}</b></p>
        <p><ion-note>{{like.user.email}}</ion-note></p>
      
    </ion-item>
  </div>
    <ion-item *ngIf="showMore">
    <!-- <ion-item> -->
      <span (click)="displayLikesModal()">Show More Likes</span>
    </ion-item>
  </ion-list>
  
</ion-content>
