page-logout {

ion-content{
    background-image: url("/assets/img/authBackground.jpg");
    background-size: cover;
}

ion-footer{
    background-color: #333333 !important;
    color: white;
    text-align: center;
    border-top: 1px solid grey;

    ion-col:first-child{
        border-right: 1px solid grey;
    }
    a{
        text-decoration: none;
        color: wheat;
    }
    ion-col{
    color: wheat;
    }
}

.startLogo{
    margin: 10%;

    p{
        text-align: center;
        font-family: Georgia;
        font-size: 40px;
        padding-top: 22%;
        color: wheat;
    }
}

.login-button{
    padding: 8% 5% 10% 5%;
    position: absolute;
    width: 100%;
    top: 54%;
    button{
        background-color: wheat;
        color: #333333;
    }
}

.remove-button{
    text-align: center;
    position: absolute;
    top: 72%;
    width: 100%;
    span{
        color: wheat;
    }
}

.logout-image-div{
    text-align: center;
    margin-bottom: 10%;
}

.user-image{
    height: 100px;
    border-radius: 50%;
    border: 1px solid gray;
}
}
