<ion-content>
  <div class="startLogo">
    <p>Teamdiary</p>
  </div>

  <div class="logout-image-div">
    <img [src]="curuser.imageurl" alt="User_image" class="user-image">
  </div>

  <div class="login-button">
    <button (click)="goToMainPage()" ion-button color="primary" block round><strong>Log In as {{curuser.name}}</strong></button>
  </div>

  <div class="remove-button">
    <button (click)='removeUser()' ion-button clear><span>Remove</span></button>
  </div>
</ion-content>

<ion-footer>
  <ion-grid class="logout-footer grid-border">
    <ion-row>
      <ion-col (click)='goToLogin()'>
        Switch Accounts
      </ion-col>
      <ion-col (click)='signUp()'>
        Sign Up
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>