page-forgot-password {
    .startLogo{
    margin: auto;

    p{
        text-align: center;
        font-family: Georgia;
        font-size: 40px;
        padding-top: 20%;
        color: wheat;
    }
}

ion-content{
    background-image: url("/assets/img/authBackground.jpg");
    background-size: cover;
}

ion-footer{
    background-color: #333333 !important;
    color: white;
    text-align: center;
    a{
        text-decoration: none;
        color: wheat;
    }
}

.SignUp{
    text-align: center;
    color: white;
    a{
        text-decoration: none;
        color: wheat;
    }
}

.login-input{
    width: 90%;
    margin: 5%;
    padding: 0% 4% !important;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.0);
}
.lable-input{
    color:white;
}
.login-button{
    padding: 0% 5%;
    button{
        background-color: wheat;
        color: #333333;
    }
}
}

