<ion-content padding class="instagram">

  <div class="startLogo">
    <p>Teamdiary</p>
  </div>

  <form (submit)="goToLoginPage()">
    <ion-item class="login-input">
      <ion-label floating class="lable-input">Email</ion-label>
      <ion-input type="email" class="lable-input" (keypress)="enableLogin()" clearInput name="email"></ion-input>
    </ion-item>
    
    <div class="login-button">
      <button *ngIf="isDisabled" disabled="true" ion-button color="primary" block round><strong>Forgot Password</strong></button>
      <button *ngIf="!isDisabled" type="submit" ion-button color="primary" block round><strong>Forgot Password</strong></button>
    </div>
  </form>
</ion-content>

<ion-footer>
    <p class="SignUp">Don't have an account?
      <strong (click)="goToSignupPage()">
        <a>Sign up.</a>
      </strong>
    </p>
</ion-footer>