<!--
  Generated template for the GroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-title>
  
        <ion-icon name="ios-people"></ion-icon> Groups
        
      
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content ng>
  <ion-list no-lines>
    <ion-list-header>
      <ion-icon item-start name="heart"></ion-icon>
      <b>Groups Joined </b><button ion-button round (click)="newGroup()" style="float:right">
        <b>+Create Group</b>
      </button>
    </ion-list-header>

    <ion-item *ngFor="let g of groupsFollowing" (click)="openGroup(g)">

      <ion-avatar item-start>
        <img src="../assets/img/marty-avatar.png">
      </ion-avatar>
      <h2>{{g.displayName}}</h2>

      <p>About {{g.visibility}}</p>
      <p>{{g.created}}</p>
      <button *ngIf="g.email == user.email" ion-button round item-end (click)="deleteGroup(g._id)">
          <b>Delete</b>
        </button>
        <button ion-button round item-end (click)="leaveGroup(g.name)">
            <b>Leave</b>
          </button>
    </ion-item>

  </ion-list>
  <hr>



  <ion-list no-lines>
    <ion-list-header>
      <ion-icon item-start name="md-contacts"></ion-icon>
      <b>Groups Available</b>
    </ion-list-header>
    <ion-item *ngFor="let x of groupsAvailable" (click)="openGroup(g)">
      <ion-avatar item-start>
        <img src="../assets/img/marty-avatar.png">
      </ion-avatar>
      <h2>{{x.displayName}}</h2>
      <p>About {{x.visibility}}</p>
      <p>{{x.created}}</p>
      <button ion-button round item-end (click)="joinGroup(x.name)">
        <b>+Join</b>
      </button>
      
    </ion-item>
  </ion-list>
</ion-content>