<ion-header>

  <ion-navbar>
    <button ion-button icon-only small color="dark" clear (click)="back()">
      <ion-icon name="md-home"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <div class="profile-item">
      <div class="big-profile-picture">
      <img src="https://static.pexels.com/photos/33109/fall-autumn-red-season.jpg">
      
      </div>
      <div class="profile-display">
       <div *ngIf='edit==false'>
         <span>{{profile.name}}</span><br>
         <span>{{profile.aboutme}}</span>
       </div>
       <div *ngIf='edit==true'>
         <div class="imgBtns">
           <button ion-button icon-only large  clear (click)='setImageCamera()'><i class="fa fa-camera" aria-hidden="true"></i></button>
           <button ion-button icon-only large  clear (click)='setImageGallery()'><i class="fa fa-picture-o" aria-hidden="true"></i></button>
         </div>
       </div>
      </div>
    </div>
    <ion-list *ngIf="page == 'profile'">   

      <ion-item *ngIf='edit==true'>
       <ion-label>Name</ion-label>
       <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
        
      <ion-item *ngIf='edit==true'>
       <ion-label>About Me</ion-label>
       <ion-textarea formControlName="aboutme"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="edit==false">
        Gender: {{profile.gender}}
      </ion-item>
      <ion-list radio-group formControlName="gender" *ngIf="edit==true">
          <ion-list-header>
            Gender
          </ion-list-header>
          <ion-item>
            <ion-label>Female</ion-label>
            <ion-radio value="female"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Male</ion-label>
            <ion-radio value="male"></ion-radio>
          </ion-item>
        </ion-list>
      <ion-item>
       <ion-label>Mobile</ion-label>
       <ion-input type="tel" formControlName="tel" [readonly]="edit==false"></ion-input>
      </ion-item>
       
      <ion-item>
       <ion-label>DOB</ion-label>
       <ion-datetime displayFormat="DD MMM YYYY" formControlName="dob" [disabled]="edit==false"></ion-datetime>
      </ion-item>
       
      <ion-item>
       <ion-label>City</ion-label>
       <ion-input type="text" formControlName="city" [readonly]="edit==false"></ion-input>
      </ion-item>
      <div *ngIf="edit==true">
      <ion-item>
       <ion-label>Old Password</ion-label>
       <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label>New Password</ion-label>
       <ion-input type="password" formControlName="newPass"></ion-input>
      </ion-item>
      <ion-item>
       <ion-label>Retype Password</ion-label>
       <ion-input type="password" formControlName="confPass"></ion-input>
      </ion-item> 
      </div>
       <!-- </ion-item>
       <button ion-button block type="submit">Save</button>
       </ion-list> -->
      </ion-list>
    <button *ngIf="edit==true" ion-button block (click)='saveProfile()'> Save Profile</button>
    <button (click)='toggleEdit()' *ngIf='sameUser==true'>Toggle Edit</button>
    <button (click)='toggleSameUser()'>Toggle Same User</button>
    <button (click)='notify()'>Show notification</button>
    <ion-fab right bottom edge style="position:fixed;bottom:10px">
      <button ion-fab color="danger" (click)='toggleEdit()' *ngIf='sameUser==true'><i class="fa {{fabicon}}" aria-hidden="true"></i></button>
    </ion-fab>
  </form>
  
</ion-content>