page-settings {
    $width:100%;
    $height:4*$width/3;
    .profile-item {
        height: $height;
        position: relative    
    }
    ion-label{
        font-size: 15px !important;
    }
    .profile-picture {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding: 3px;
        width: $width;
        height: $height;
        overflow: hidden;
    }
    .imgBtns{
       text-align:center;
    }
    .profile-display{
        position: absolute;
        width:$width;
        bottom: 0px;
        text-align: center;
    }
    
    .profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    }
    .profile-name {
    padding-top: 20px;
    font-size: x-large !important;
    font-weight: bold !important;
    text-transform: capitalize;
    }
}