// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ion-ios-group,
.ion-md-group {
    content: url(../assets/img/group-pic.svg);
    width: 24px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 0.9;
  }

  .menu-image-div{
    text-align: center;
    margin-bottom: 10%;
}

  .menu-user-image{
    height: 100px;
    border-radius: 50%;
    border: 1px solid gray;
}