<!--
  Generated template for the LikesModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>likesModal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let like of likesData">
      <h2><b>{{like.user.name}}</b></h2>
      <p><ion-note>{{like.user.email}}</ion-note></p>
    </ion-item>
  </ion-list>
</ion-content>
