<ion-content padding>
  <div class="startLogo">
    <p>Teamdiary</p>
  </div>

  <div class="message">
    <p>Hey, it looks like you are offline.</p>
  </div>
</ion-content>

<ion-footer>
  <ion-grid class="offline-footer">
    <ion-row>
      <ion-col (click)='closeApp()'>
        Close
      </ion-col>
      <ion-col (click)='retry()'>
        Retry
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>