page-offline {
.offline-footer{
    text-align: center;
    border-top: 1px solid grey;

    ion-col:first-child{
        border-right: 1px solid grey;
    }
}

.startLogo{
    margin: auto;

    p{
        text-align: center;
        font-family: Georgia;
        font-size: 40px;
        padding-top: 40%;
    }
}

.message{
    font-size: 15px;
    text-align: center;
}
}
