<!--
  Generated template for the InputformPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create Group</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="newGroup()">
    <ion-item>
      <ion-label>Group Name : </ion-label>
      <ion-input type="text" [(ngModel)]="group.name" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Display Name<small>(no spaces)</small>: </ion-label>
      <ion-input type="text" [(ngModel)]="group.displayName" name="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Group Type : </ion-label>
      <ion-select [(ngModel)]="group.type" name="type" interface="popover">
        <ion-option value="corporate">Corporate</ion-option>
        <ion-option value="project">Project</ion-option>
        <ion-option value="social">Social</ion-option>
        <ion-option value="personal">Personal</ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>Group Visibility : </ion-label>
      <ion-select [(ngModel)]="group.visibility" name="type" interface="popover">
        <ion-option value="open">Open</ion-option>
        <ion-option value="close">Closed</ion-option>
        <ion-option value="private">Private</ion-option>
        <ion-option value="public">Public</ion-option>
      </ion-select>

    </ion-item>
    <ion-item>
      <ion-label>Group URL : </ion-label>
      <ion-input type="text" [(ngModel)]="group.url" name="url"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Group Avatar : </ion-label>
      <ion-input type="text" [(ngModel)]="group.avatar" name="avatar"></ion-input>
    </ion-item>
    <ion-item *ngFor="let m of group.menu;let i=index">
        <ion-label>Option {{i+1}} : <b>{{m}}</b></ion-label>
    </ion-item>
    <ion-item>
    <ion-label>Menu Options : </ion-label>
    <ion-input type="text" [(ngModel)]="menuOption" name="avatar"></ion-input>
  </ion-item>
    <button ion-button type="button" (click)="addOptions()"> + Options</button>
    <button ion-button type="button" (click)="check()">group</button>
    <button ion-button type="submit" block>Create Group</button>
  </form>
</ion-content>