<ion-header>
  <ion-navbar>
    <ion-title>
      Content
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    This is a perfect starting point for a page with primarily text content. The body is padded nicely and ready for prose.
  </p>
  <div id="map"></div>
</ion-content>