<ion-header>
  <div align="center">
    <p style="color: red;font-size: 200%;">{{ signUperrorMessage }}</p>
    <p style="color: red;font-size: 200%">{{ signUperrorSug }}</p>
  </div>
</ion-header>
<ion-content>

    <div class="startLogo">
        <p>Teamdiary</p>
    </div>

    <form (submit)="doSignup()">

        <ion-item class="login-input">
            <ion-label floating class="lable-input">Name</ion-label>
            <ion-input type="text" class="lable-input" [(ngModel)]="account.name" clearInput name="Name"></ion-input>
        </ion-item>

        <ion-item class="login-input">
            <ion-label floating class="lable-input">Email</ion-label>
            <ion-input type="text" class="lable-input" [(ngModel)]="account.email" clearInput name="email"></ion-input>
        </ion-item>

        <ion-item class="login-input">
            <ion-label floating class="lable-input">Password</ion-label>
            <ion-input type="password" class="lable-input" [(ngModel)]="account.password" clearInput name="password"></ion-input>
        </ion-item>

        <div class="login-button">
            <button *ngIf="!account.name || !account.email || !account.password" disabled="true" ion-button block round>Sign Up</button>
            <button *ngIf="account.name && account.email && account.password" ion-button block round>Sign Up</button>
        </div>
    </form>
    <!--To integrate recaptcha go through this link: https://www.npmjs.com/package/angular2-recaptcha -->
    <div class="captcha">
        <re-captcha site_key="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></re-captcha>
    </div>
</ion-content>

<ion-footer>
    <p class="SignUp">Already have an account?
        <strong (click)="goToLoginPage()">
            <a>Log in.</a>
        </strong>
    </p>
</ion-footer>