page-test {

}

ion-slides{
   height:60%;
}
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  img.full{
      width:100%;
      opacity:0.4;
      height:200px;
  }

  .card-title {
    position: absolute;
    top: 24%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 42%;
    width: 100%;
    font-weight: bold;
    color: black;
  }

  .card-corner-text{
    position: absolute;
    top:0%;
    right:0%;
    font-weight:bold;

  }

}
