<!--
  Generated template for the TestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Your Feed</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">
  <ion-slides (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let g of groupsAvailable">
      <ion-card>
        <img class="full" src="../assets/imgs/capgemini.png" />
        <div class="card-title">{{g.displayName}}</div>
        <div class="card-subtitle">{{g.created}}</div>
        <div class="card-corner-text">
          <button ion-button outline color="primary">{{g.type}}</button>
        </div>
        <button ion-button color="secondary" round icon-start *ngFor="let menu of g.menu;let i = index" (click)="menuFunction(g.name,i)">
          <ion-icon name='ios-add-circle-outline'></ion-icon>
          {{menu}}
        </button>
   
      </ion-card>
    </ion-slide>

   
  </ion-slides>
  <ion-card *ngFor="let p of posts">

    <ion-item>
      <ion-avatar item-start>
        <img src="../assets/img/marty-avatar.png">
      </ion-avatar>
      <h2>{{p.user.name}}</h2>
      <p>{{p.updated}}</p>
    </ion-item>

    <img src="../assets/img/advance-card-bttf.png">

    <ion-card-content>
      <p>{{p.message}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='thumbs-up'></ion-icon>
          12 Likes
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='text'></ion-icon>
          4 Comments
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

  

</ion-content>