<!--
  Generated template for the NewpostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>newpost</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-header>
    
      <ion-navbar>
        <ion-title>Feeds</ion-title>
      </ion-navbar>
    
    </ion-header>

    <ion-content>
          <ion-card>
            
            <ion-item>
              <ion-avatar item-start>
                <img src="assets/img/profile-house.png" >
              </ion-avatar>
              
            </ion-item>
            
            
            <ion-card-content>
                <ion-input type="text" placeholder="Title" [(ngModel)]="newPost.title"></ion-input>
              <ion-textarea placeholder="Content" style="border-radius:5px; border: 1px solid rgb(242, 238, 238)" rows="5" [(ngModel)]="newPost.message"></ion-textarea>
              <ion-input type="text" placeholder="URL" [(ngModel)]="newPost.url"></ion-input>
              <!-- <ion-input type="text" placeholder="Tags" [(ngModel)]="newPost.tags"></ion-input> -->
            </ion-card-content>
        
              <!-- <ion-note>
                    11h ago
                  </ion-note> -->


            <ion-item>
              <ion-label>Security</ion-label>
              <ion-select [(ngModel)]="newPost.security">
                <ion-option value="public">Public</ion-option>
                <ion-option value="private">Private</ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="!newPost.group">
                <ion-label>Groups</ion-label>
                <ion-select [(ngModel)]="newPost.group">
                  <ion-option value="capgemini">Capgemini</ion-option>
                </ion-select>
              </ion-item>
          
              <ion-item *ngIf="newPost.group">
                  <b>Group: </b>
                  {{newPost.group}}
                </ion-item>
            <ion-item>
                <button ion-button color="balanced" item-right (click)="getPhoto()">
                  File Upload
                </button>
              </ion-item>
            <ion-item>
              <button ion-button color="primary" item-right (click)="submitPost()">
                Post
              </button>
            </ion-item>
            
            <ion-item>
              <button ion-button color="danger" (click)="dismiss({})" item-right small>
                Discard
              </button>
            </ion-item> 
              
        
          </ion-card>
        
            
        
        </ion-content>
