<!--
  Generated template for the FeedsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="text-align:center">Feeds</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  

  <ion-card *ngIf="!isLoggedIn">
  <!-- <ion-card> -->
    <ion-item>
          <h3>Please login to view the feeds.</h3>
      </ion-item>
  </ion-card>

 
  <!-- <button ion-button (click)="tempFunctionLikesPopup()">Like Popup</button> -->
  <div *ngIf="isLoggedIn">
  <!-- <div> -->

  <br/>
  <!----------------------------------------- Create a new post ---------------------------------------------->
  <ion-card (click)="showModal()" *ngIf="isLoggedIn" style="box-shadow: 1px 2px 12px 0px #7d7d7d;">
      <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/profile-house.png" >
          </ion-avatar>
            <h3>Hey, <b>{{user.name}}</b>. Want to post something new!?</h3>
        </ion-item>
  </ion-card>
  <br/>
  <br/>

  <ion-card *ngIf="!hasPostsData">
  <!-- <ion-card> -->
    <ion-item>
        <h3>No Feeds to Display.</h3>
    </ion-item>
  </ion-card>

  <!-- ------------------------------------------- Feeds ----------------------------------------------------- -->
  <div *ngIf="hasPostsData">
  <!-- <div> -->
  <ion-card *ngFor="let post of postsData; let postIndex=index;" class="postCard">
    
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/profile-house.png" >
      </ion-avatar>
      <h2 *ngIf="post.user"><b>{{post.user.name}}</b> posted in <b>{{post.group}}</b></h2>
      <p>{{post.updated | date:'longDate'}}</p>
      <p><ion-note>
          {{post.updated | date:'shortTime'}}
        </ion-note></p>
    </ion-item>
    <ion-card-content>
      <b>{{post.title}}</b>
      <p>{{post.message}}</p>
    </ion-card-content>

    <ion-row class="colCenter">
      <ion-col col-6>
        <div style="margin-top:12px">
          <span *ngIf="post.hasBeenLiked">
            <ion-icon (click)="postLike(post._id,postIndex)" name="thumbs-up" style="cursor:pointer" class="liked"></ion-icon>
          </span>
          <span *ngIf="!post.hasBeenLiked">
              <ion-icon (click)="postLike(post._id,postIndex)" name="thumbs-up" style="cursor:pointer"></ion-icon>
          </span>
          <a (click)="showLike($event,postIndex,post._id)"  style="cursor:pointer">{{post.likesCount}} Likes</a>
        </div>
      </ion-col>
      <ion-col col-6>
        <div style="margin-top:5px">
            <!-- <button (click)="showComment(postIndex,post._id)"  style="cursor:pointer">
              <ion-icon name="text"></ion-icon>
            
            <span >{{post.commentsCount}} Comments</span>
            </button> -->
          <button (click)="showComment(postIndex,post._id)"  style="cursor:pointer"  clear="" color="primary" icon-start="" ion-button="" small="" ng-reflect-color="primary" ng-reflect-small="" ng-reflect-clear="" class="button button-md button-clear button-clear-md button-small button-small-md button-clear-md-primary">
            <span class="button-inner">
              
              <ion-icon name="text" role="img" class="icon icon-md ion-md-text" aria-label="text" ng-reflect-name="text"></ion-icon>
  
              {{post.commentsCount}} Comments
  
            </span>
            <!-- <div class="button-effect" style="transform: translate3d(-3px, -68px, 0px) scale(1); height: 151px; width: 151px; opacity: 0; transition: transform 325ms, opacity 228ms 97ms;">
              
            </div> -->
          </button>
        </div>
      </ion-col>
      <!-- <ion-col col-4>
         <button ion-button block color="primary">Save</button>
      </ion-col>     -->
    </ion-row>
    <br/>
    <div *ngIf="comment[postIndex]">
      <hr>
        <form>
        <ion-item>
            <ion-textarea rows="4" placeholder="Comment Here" [(ngModel)]="commentData.comment" required [ngModelOptions]="{standalone: true}"></ion-textarea>
        </ion-item>
        
        <ion-item>
            <button type="submit" ion-button item-right color="primary" (click)="postComment(post._id,postIndex)">Comment</button>
        </ion-item>
      </form>
      <div *ngIf="commentsData">  
      <h2>Comments --</h2>
      <ion-list *ngFor="let com of commentsData; let i=index">
        <div *ngIf="i<3">
        <ion-card>
          <ion-card-header>
            <b>{{com.user.name}}</b>
            <ion-note>{{com.user.email}}</ion-note><br/>
            <ion-note>{{com.updated | date:'longDate'}}</ion-note>
            <ion-note>{{com.updated | date:'shortTime'}}</ion-note>
          </ion-card-header> 
          <ion-card-content>
            <h2>{{com.comment}}</h2>
            
          </ion-card-content>
        </ion-card>
      </div>
      </ion-list>
      <button ion-button color="primary" *ngIf="moreComment" (click)="displayComments(postIndex)">Show More Comments</button>
    </div>
    </div>
  </ion-card>

</div>
</div>
</ion-content>
