<!--
  Generated template for the CommentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>commentsPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let comments of commentsData">
      <h2>{{comments.comment}}</h2>
      <p>{{comments.user.name}}</p>
      <p>{{comments.user.email}}</p>
      <p>{{comments.date}}</p>
    </ion-item>
  </ion-list>
</ion-content>
